@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root {
    --Cyan: hsl(179, 62%, 43%);
    --Yellow: hsl(71, 73%, 54%);
    --Gray: hsl(204, 43%, 93%);
    --Blue: hsl(218, 22%, 67%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Karla', sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    background-color: var(--Gray);
}

main {
    display: grid;
    grid-template-columns: 350px 350px;
    grid-template-rows: auto;
    grid-template-areas:
     "header header"
     "price why-us";
    border-radius: 10px;
    color: #fff;
    overflow: hidden;
    box-shadow: 
            rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, 
            rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

main > div {
    padding: 35px 30px;
}




/*--------------------------------------*/

.header {
    grid-area: header;
    background-color: #fff;
}

.header h2 {
    color: var(--Cyan);
    margin-bottom: 15px;
}

.header h3 {
    color: var(--Yellow);
    margin-bottom: 15px;
}

.header p {
    color: var(--Blue);
    line-height: 1.5;
}

/*--------------------------------------*/

.price {
    grid-area: price;
    background-color: var(--Cyan);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 35px;
}

.price h4 {
    font-size: 40px;
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: -25px;
}

.price h4 span {
    color: #cfcfcf;
    font-size: 16px;
    font-weight: normal;
}

.price a {
    text-decoration: none;
    color: #fff;
    background-color: var(--Yellow);
    width: 100%;
    height: 45px;
    display: block;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    font-weight: 600;
}

/*--------------------------------------*/
.why-us {
    grid-area: why-us;
    background-color: #5dc5c4;
}

.why-us p {
    margin-top: 15px;
    line-height: 1.3;
}




@media (max-width: 767px) {
    main {
        grid-template-columns: 360px;
        box-shadow: none;
        border-radius: 0;
        grid-template-areas:
            "header"
            "price"
            "why-us";
    }
}